*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 40px;
}

caption{
    text-align: left;
}

th{
    color: whitesmoke;
    background-color: darkgreen;
}
table,th,td{
    border-collapse: collapse ;
    border-bottom: 1px solid grey;
}