*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 40px;
}

caption{
    text-align: left;
}

th{
    color: whitesmoke;
    background-color: darkgreen;
}
table,th,td{
    border-collapse: collapse ;
    border-bottom: 1px solid grey;
}

table{
    width: 100%;
    border: 1px solid grey;
    border-radius: 12px;
}

tfoot{
    font-size: 12px;
    text-align: left;
}